<!DOCTYPE html>
<html>
<head>
   <title>Shop Project</title>
    <link href="~/Styles/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/css/1-col-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Header Navbar fixed top -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><i class="fa fa-diamond"></i>Shop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="index.aspx">Home</a></li>
                    <li id="service"><a href="services.aspx">Services</a></li>
                    <li id="portfolio1"><a href="portfolio.aspx">Portfolio</a></li>
                    <li id="contact1"><a href="contact.htm">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

   
    <footer id="fh5co-footer" class="padding100">

        <div class="fh5co-footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.2s">
                        <h3 class="fh5co-lead">About</h3>
                        <ul>
                            <li><a href="#">Tour</a></li>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.4s">
                        <h3 class="fh5co-lead">Support</h3>
                        <ul>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-push-3 animated wow fadeInLeft" data-wow-delay="0.6s">
                        <h3 class="fh5co-lead">More Links</h3>
                        <ul>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Frequently Ask Questions</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-12 col-md-pull-9 animated wow fadeInLeft" data-wow-delay="0.8s">
                        <div class="fh5co-footer-logo"><a href="index.html">Shop</a></div>
                        <p class="fh5co-copyright"><small>&copy; 2016. All Rights Reserved. <br>	by <a href="#" target="_blank">Rajesh</a> Images: <a href="http://aspxtemplates.com/" target="_blank">Pexels</a></small></p>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>
</html>
